In [6]:
import pandas as pd
from glob import glob

In [7]:
glob('../data/interim/train_2017-*_features.csv')

['../data/interim/train_2017-11-08_0200_channel_features.csv',
 '../data/interim/train_2017-11-07_0900_channel_features.csv']

In [8]:
df = pd.read_csv('../data/interim/train_2017-11-08_0200_channel_features.csv')

In [9]:
df.head()

,app,device,os,channel,click_time,is_attributed,COUNT(clicks),PERCENT_TRUE(clicks.is_attributed),NUM_UNIQUE(clicks.app),NUM_UNIQUE(clicks.device),NUM_UNIQUE(clicks.os),MODE(clicks.app),MODE(clicks.device),MODE(clicks.os)
0,9,1,19,442,2017-11-08 02:00:00,0,54815,0.000511,3.0,2.0,84.0,3.0,1.0,19.0
1,15,1,19,278,2017-11-08 02:00:00,0,10996,0.000182,1.0,2.0,67.0,15.0,1.0,19.0
2,9,1,27,244,2017-11-08 02:00:00,0,20441,0.002984,1.0,3.0,70.0,9.0,1.0,19.0
3,8,1,13,145,2017-11-08 02:00:00,0,48995,0.001061,2.0,3.0,69.0,8.0,1.0,19.0
4,12,1,20,145,2017-11-08 02:00:00,0,48995,0.001061,2.0,3.0,69.0,8.0,1.0,19.0

In [1]:
import pickle

In [4]:
pickle.DEFAULT_PROTOCOL

4